.nav-menu {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.nav-button {
  width: 90%;
  height: 40px;
  margin: 2% 2%;
  background-color: #141527;
  color: white;
  border: none;
  font-size: 1em;
}
