.article-container {
  width: 48%;
  background-color: white;
  margin:0 2% 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-image {
  width: 100%;
}

.heading {
  font-size: 1.5em;
  margin-bottom: 1%;
  padding: 0 1%;
}

.description {
  font-size: 1em;
  margin-bottom: 1%;
  padding: 0 1%;
}


.article-link {
  width: 100%;
  height: 30px;
  background-color: purple;
  color: white;
  font-size: 1em;
  border: none;
  cursor: pointer;
}
